@font-face {
    font-family: "Vazir";
    src: url("Vazir.eot");
    src: url("Vazir.eot?#iefix") format("embedded-opentype"), url("Vazir.woff2") format("woff2"), url("Vazir.woff") format("woff"), url() format("truetype");
}

body {
    direction: rtl;
    text-align: right !important;
    font-family: "Vazir";
    line-height: 1.6;
    background: #fff;
}