{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <img src="{{car.image.url}}" class="rounded mx-auto d-block my-3" alt="Responsive image">
  <div class="list-group">
  <li class="list-group-item list-group-item-action active d-flex">
توضیحات تکمیلی  </li>
  <li class="list-group-item list-group-item-action mt-0 d-flex mr-0">نام: {{car.name}}</li>
  <li class="list-group-item list-group-item-action mt-0 d-flex mr-0">برند: {{car.company}}</li>
  <li class="list-group-item list-group-item-action mt-0 d-flex mr-0">نمایندگی: {{car.agency}}</li>
  <li class="list-group-item list-group-item-action mt-0 d-flex mr-0">سال تولید: {{car.year}}</li>
  <li class="list-group-item list-group-item-action mt-0 d-flex mr-0">قیمت: {{car.price|floatformat:1|intcomma}} ریال</li>
<div class="media-body text-justify">
    <h5 class="mt-3 d-flex mr-3">شرح حال خودرو</h5>
    <p class="mt-3 d-flex mr-3">{{car.descript}}</p>
  </div>
  <a href="{% url 'app_car:EditCar' car.slug %}" class="btn btn-info">اصلاح مشخصات ماشین</a>
{% endblock content %}


