{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Car exhibition{% endblock title%}

{% block content %}
<form class="d-flex" action="." method="GET">
<input class="form-control me-2" type="search" placeholder="جستجو" aria-label="Search" name="search" id="search" value="{{request.GET.search}}">
<button class="btn btn-outline-success mr-3" type="submit">جستجو</button>
</form>
{% include 'app_car/search_results.html' %}
<div class="card d-flex mt-1">
  <div class="card-body">
    <h5 class="card-title text-justify">به نمایشگاه ماشین مهدی خوش آمدید</h5>
    <p class="card-text text-justify">شما میتوانید در این نمایشگاه ماشین مورد نظر خود را جستجو کنید و در صورت تمایل اقدام به خرید آن نمایید</p>
  </div>
</div>
<div class="media">
    <img src="{% static 'images/car.jpg' %}" width="100%" height="400" class="mt-1" alt="Car exhibition">
</div>
{% endblock content%}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/search-ajax.js' %}"></script>
{% endblock js %}