{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Car exhibition{% endblock title%}
{% block content %}
{% if search %}
<div class="card">
{% if cars %}
{% for car in cars %}
  <div class="card-header d-flex">
    مدل{{car.year}}-{{car.name}}
  </div>
  <div class="card-body d-flex">
    <h5 class="card-title">قیمت :{{car.price|intword}} ریال</h5>
    <a href="{{car.get_absolute_url}}" class="btn btn-primary">جزِئیات بیشتر</a>
  </div>
</div>
{% endfor %}
{% else %}
  <div class="card-header d-flex">
    متاسفانه این ماشین وجود ندارد
  </div>
  <a href="/" class="btn btn-primary">بازگشت به خانه</a>
{% endif %}
{% else %}
<div class="card d-flex mt-1" style="">
  <div class="card-body">
    <h5 class="card-title text-justify">به نمایشگاه ماشین مهدی خوش آمدید</h5>
    <p class="card-text text-justify">شما میتوانید در این نمایشگاه ماشین مورد نظر خود را جستجو کنید و در صورت تمایل اقدام به خرید آن نمایید</p>
  </div>
</div>
<div class="media">
    <img src="{% static 'images/car.jpg' %}" width="100%" height="400" class="mt-1" alt="Car exhibition">
</div>
{% endif %}

{% endblock content%}