{% extends 'base.html' %}
{% block content %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{my_car.image.url}}" class="card-img-top" alt="{{my_car.name}}" width="150" height="200" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{my_car.name}}</h5>
    <p class="card-text mt-3 d-flex mr-3 text-justify">{{my_car.descript}}</p>
    <a href={% url 'app_car:cars' %} class="btn btn-primary">بازگشت به ماشین ها</a>
  </div>
</div>   

{% endblock content %}


